{% extends 'patient/dash.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="card">
    <div class="header bg-red">
        <h2 class="text-center">
            SEND DATA TO DOCTOR
        </h2>
    </div>
    <div class="body">

        <form method="post" class="text-center" enctype="multipart/form-data" style="width:950px;margin-left:85px;">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br><br>
        </form>

    </div>
</div>

<div style="background-color:green">
{% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{message}}
    </div>
{% endfor %}
</div>

{% endblock %}