{% extends 'admin/dash.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                    <div class="card">
                        <div class="header bg-red">
<!--                        <div class="header bg-cyan">-->
<!--                        <div class="header bg-light-blue">-->
                            <h2 class="text-center">
                                UPDATE DOCTOR
                            </h2>
<!--                            <ul class="header-dropdown m-r&#45;&#45;5">-->
<!--                                <li class="dropdown">-->
<!--                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                                        <i class="material-icons">more_vert</i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu pull-right">-->
<!--                                        <li><a href="javascript:void(0);">Action</a></li>-->
<!--                                        <li><a href="javascript:void(0);">Another action</a></li>-->
<!--                                        <li><a href="javascript:void(0);">Something else here</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                            </ul>-->
                        </div>
                        <div class="body">

                            <form method="post" enctype="multipart/form-data" style="width:950px;margin-left:80px;">
                            {% csrf_token %}
                            {{form|crispy}}
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <br><br>
                            </form>

                        </div>
                    </div>
                </div>





<!--<div class="card">-->
<!--<h2 style="margin-left:150px;">Update Doctor</h2>-->
<!--<form method="POST" enctype="multipart/form-data" style="width:950px;margin-left:100px;">-->
<!--    {% csrf_token %}-->
<!--    {{form|crispy}}-->
<!--    <br>-->
<!--    <button type="submit" class="btn btn-primary">SUBMIT</button>-->
<!--    <br><br>-->
<!--</form>-->
<!--</div>-->

{% endblock %}