{% extends 'admin/dash.html' %}
{% block content %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-red">
                <h2 class="text-center">
                    PATIENTS LIST
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>SL.NO</th>
                        <th>PATIENT NAME</th>
                        <th>AADHAR NO.</th>
                        <th>EMAIL</th>
                        <th>UPDATE</th>
                        <th>DELETE</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for i in data %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.name}}</td>
                        <td>{{i.aadhar_number}}</td>
                        <td>{{i.email}}</td>
                        <td><a href="{% url 'updatepatient' i.id %}"> <button type="button" class="btn btn-primary">UPDATE</button></a></td>
                        <td><a href="{% url 'doctor_delete' i.id %}"> <button type="button" class="btn btn-danger">DELETE</button></a></td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}