{% extends 'admin/dash.html' %}
{% block content %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-red">
                <h2 class="text-center">
                    FEEDBACKS
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>SL.NO</th>
                        <th>DATE</th>
                        <th>NAME</th>
                        <th>FEEDBACKS</th>
                        <th>RESPONSE</th>
                        <th>DELETE</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for i in data %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.date}}</td>
                        <td>{{i.user}}</td>
                        <td>{{i.feedback}}</td>

                        <td>
                        {% if i.reply == None %}
                        <a href="{% url 'reply_feedback' i.id %}">Reply Now</a>
                        {% else %}
                        {{i.reply}}
                        {% endif %}
                        </td>
                        <td><a href="{% url 'delete_feedbacks' i.id %}"> <button type="button" class="btn btn-danger">DELETE</button></a></td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}