{% extends 'doctor/dash.html' %}
{% block content %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-red">
                <h2 class="text-center">
                    APPOINTMENTS
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>SL.NO</th>
                        <th>DOCTOR NAME</th>
                        <th>DATE</th>
                        <th>START TIME</th>
                        <th>END TIME</th>
                        <th>APPOINTMENT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.Schedule.Doc_name}}</td>
              <td>{{i.Schedule.Date}}</td>
              <td>{{i.Schedule.Start_time}}</td>
              <td>{{i.Schedule.End_time}}</td>
              <td>
                {% if i.status == 0 %}
                <button type="button" class="btn btn-warning">Approval Pending</button>
                {% elif i.status == 1 %}
                <button type="button" class="btn btn-success">Appointment Confirmed</button>
                {% else %}
                <button type="button" class="btn btn-danger">Appointment rejected</button>

                {% endif %}
              </td>

            </tr>
          {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}